*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}


body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  background-color:rgb(20, 10, 34);
}
 
body::-webkit-scrollbar-thumb {
  background-image:linear-gradient(to bottom right,rgb(97, 18, 18),rgb(86, 73, 97));
  outline: 1px solid rgb(43, 22, 72);;
  border-radius:25px;
}
